/drush/contrib/

/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/contrib/

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore testing related files
/web/sites/simpletest

/web/themes/contrib/
/web/libraries/

**/dest/*
**/node_modules/
**/.DS_Store
**/.env
**/.sass-cache
**/.idea
/.editorconfig
/.gitattributes
/.csslintrc
/.eslintignore
/.eslintrc.json
/.ht.router.php
/.htaccess
/INSTALL.txt
/README.txt
/autoload.php
/example.gitignore
/index.php
/robots.txt
/update.php
/web.config
